* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 2rem 0;
    justify-content: space-around;
}

.logo {
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin: 0 1rem;
}

.nav-links a {
    color: rgb(8, 8, 8);
    text-decoration: none;
    font-size: 0.9rem;
}

.nav-links a:hover {
    color: #00b4d8;
}

.button {
    display: flex;
    gap: 2rem;
}

.btn {
    text-decoration: none;
    font-size: 0.9rem;
    padding: 1rem 2.5rem;
    transition: background-color 0.3s ease;
}

.sign-in {
    color: black;
}

.sign-in:hover {
    background-color: #028090;
    color: white;

}

.startbtn {
    background-color: #4f46ba;
    color: white;
}

.startbtn:hover {
    background-color: #028090;
}
.content {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    position: relative;
    height: fit-content;
}
.left-content {
    display: flex;
    gap: 3rem;
}
.content h1 {
    padding-top: 5rem;
    font-size: 3rem;
    padding-left: 0;
}
.content h5{
    font-size: 15px;
    font-weight: normal;
}
#homepage-logo {
    width: 25rem;
    height: 45rem;
}
.image24 {
    font-size: 20px;
    padding-top: 30rem;
}
.image {
    display: flex;
    flex-direction: column;
    position: relative;
    width: fit-content;
}
.image #image1{
    width: 5rem;
    position: absolute;
    top: 0;
    right: 0px;
    height: auto;
}
.image #image2{
    width: 7rem;
    position: absolute;
    top: 32rem;
    right: 0;
    height: auto;
}
.content-btn {
    display: flex;
    text-decoration: none;
    align-items: center;
    gap: 3rem;
    padding-top: 2rem;
    margin: 0;
}
.cont-btn {
    text-decoration: none;
}
.content-btn #get-started {
    text-decoration: none;
    background-color: #4f46ba;
    color: white;
    padding: 0.9rem 1.5rem;
    border-radius: 40px;
    font-size: 0.9rem;
}
.content-btn i{
    background-color: rgb(34, 212, 151);
    color: white;
    padding: 0.8rem;
    border-radius:100px;
    font-size: 1.4rem;
}
.content-service {
    display: flex;
    padding-top: 1rem;
    font-size: 15px;
    gap: 2rem;
    margin-top: 2rem;
    color: rgb(117, 112, 149)
}
.content-service i{
    color: #4f46ba;
    font-size: 20px;
}

.product-content {
    /* padding-left: 7rem; */
    background-color: #fafbff;
    align-items: center;
    height: fit-content;
    width: 100%;
    padding-top: 5rem;
    margin-top: 8.9rem;

}
.portfolio{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.portfolio h1{
    font-size: 4.5rem;
    padding-bottom: 1.5rem;
}
/* .portfolio-heading {

} */
 .webdesigner {
    background-color: #EAEBEE;
    border-radius: 20px;
    align-items: start;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    padding-left: 2rem;
    padding-top: 0px;
    padding-right: 2rem;
    justify-content: space-evenly;
    position: relative;
 }
 .webdesigner img {
    bottom: 12.5rem;
    position: absolute;
 }
 .card-content{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 300px; 
}
.card-content .card-div{
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    position: relative;
    padding: 2rem;
    box-shadow: 0px 0px 0.5px 0.5px rgb(200, 199, 199);
}
.card-number {
    position: absolute;
    top: 20px;
    left: -30px;
    font-size: 20px;
    padding-left: 50px;
    /* gap:5rem; */
    font-weight: bold;
    color: #0e0d0d;
}
.card-number a{
    gap: 5rem;
}
.card-body {
    gap: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.main-section{
    padding-top: 70px;
}
.section-top{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5rem;
    align-items: center;
}
.pricing{
    background-color: #dff6ff;
    height: 30rem;
    width: 32rem;
    position: relative;
    border-radius: 20px;
    
}
.pricing-image{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pricing .ellipse {
    position: absolute;
    
}

#top-left-ellipse {
    border-radius: 100%;
    z-index: 1;
    top: 0px;
    width: 150px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 150px;
    border-top-right-radius: 5px;
    height: 120px;
    background-color: #ff7f5c;
}

#bottom-left-ellipse {
    border-radius: 100%;
    bottom: 0px;
    width: 150px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 120px;
    height: 120px;
    background-color: #52f5d8;
    
}

#right-center-ellipse{
    border-radius: 100%;
    bottom: 50%;
    right: 0px;
    width: 70px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    height: 130px;
    background-color: #4c44b0;
}
.section-content-top {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.section-content-top h1, .section-bottom h1{
    font-size: 3rem;
    padding-bottom: 20px;

}
.whyus {
    color:#4c44b0;
    font-weight: 500;
}
.indulgence {
    color: #8c8b8b;
    font-size: 16px;
}
.section-content-top i{
    color: orange;
    font-size: 20px;
}
.payments-cards{
    background-color: #eaebee;
    padding: 50px;
    border-radius: 20px;
    margin-top: 30px;
    position: relative;
}
.payments-cards img {
    position: absolute;
    top:-20px;
    left: 20px;
}
.section-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
/* features */
.features-section h1 {
    font-size: 3.5rem;
    padding-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 5rem;
}
.card-box1, .card-box2, .card-box3, .card-box4{
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    padding-right: 80px;
}
.text-card {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.card-box1 img, h3, a{
   padding-bottom: 20px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.card-box2 img, h3, a{
    padding-bottom: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

 }
 .testimonials {
    padding-top: 5rem;
    gap: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
 }
 .testimonials h1 {
    font-size: 3.5rem;
    padding-bottom: 20px;
 }
 .testimonials-content {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 .testimonials-cards {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-around;
    position: relative;
    padding-left: 100px;
 }
 .testimonials-card1, .testimonials-card2  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:80px;
    align-items: center;
    color: #0e0d0d;
    font-size: 18px;
    font-weight:500;
    background-color: white;
    box-shadow: 0px 0px 0.5px 0.5px rgb(200, 199, 199);
    margin-top: 50px;
    padding: 40px;
    border-radius: 10px;
 }
 .testimonials-image{
    height: 40vh;
    width: 35vh;
    
 }
 .testimonials-cards #image{
    position: absolute;
    font-size: 2px;
 }
 .listing {
    background-color: #3734a9;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    align-items: center;
    padding: 2px;
    gap: 10px;
    margin-top: 5rem;
 }
 .listing img {
    position: absolute;
    top: 14px;
    right: 0px;
 }
 .listing h1{
    font-size: 60px;
    padding-bottom: 10px;
 }
 .blogs {
    padding: 90px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 8rem;
 }
 .blogs h1{
    font-size: 3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 5rem;
 }
 .blogs-topcontent {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
 }

 .blogs-topcontent h5{
    padding-bottom: -10px;
 }
 .blogs-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   

 }
 #blog-topcontent {
    font-size: 1.4rem;
    color: #0e0d0d;
    font-weight:500;
    padding-bottom: 80px;
 }
 #blog-readmore {
    font-size: 0.9rem;
 }
 .blogs-cards {
    padding-top: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 4rem;
 }
 .blog-card-heading {
    font-weight: 600;
    padding-bottom: 10px;
 }
 .blogs-c a {
    padding-bottom: 2rem;
    font-weight: 600;
    font-size: 20px;

 }
 .blogs-c img{
    padding-top: 20px;
    height: 13rem;
 }
 .faqs-header{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
 }
 .faqs-header h1{
    font-size: 3.7rem;
    padding-left: 7rem;

 }
 .faqs-header img {
    position: absolute;
 }
 .faqs-header #img1{
    padding-top: 5rem;
 }
 .faqs-header #img2{
    padding-top: 0.9rem;
    padding-left: 88rem;
 }
 .faqs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #fafbff;
 }
 .faqs-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 7rem;
    margin-top: 3rem;
    gap: 2rem;
 }
 .faqs-content1, .faqs-content2, .faqs-content3, .faqs-content4, .faqs-content5{
    border-radius: 5px;
    box-shadow: 0px 0px 0.5px 0.5px rgb(200, 199, 199);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 1rem;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
 }
 .faqs-content1 a{
    font-size: 14px;
    font-weight: normal;
 }
 .faqs-content1{
    display: flex;
    flex-direction: column;
 }
 .faqs-cards {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-shadow: 0px 0px 0.5px 0.5px rgb(200, 199, 199);
    border-radius: 20px;
    gap: 20px;

 }
 .faqs-cards img{
    font-size: 20px;
    border-color: #FF7F5C;
 }
 .faqs-cards button{
    background-color: #FF7F5C;
    border-color: #FF7F5C;
    color: white;
    font-size: 16px;
    padding: 20px 50px;
 }

.footer-topbox{
    background-color: #3734a9;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 5rem;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 5rem 5rem;
    text-align: center;
}
.footer-topbox button{
    background-color: #ff7f5c;
    padding: 0.9rem 2rem;
    border-radius: 10px;
    color: white;
}
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5rem;
    padding-top: 5rem;
}
.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    width: 100%;
    padding: 20px 10px;
}
.footer-content1, .footer-content2, .footer-content3,.footer-content4{
    display: flex;
    flex-direction: column;
    gap: 1px;
}
.footer-content h1, h5{
    font-size: 1.4rem;
}
.footer-content1 a{
    font-size: 0.9rem;
    padding-top: 10px;
    color: #7f7f82;

}
.footer-content2 a{
    font-size: 0.9rem;
}
.footer-content4 input{
    background-color: #EEEEFF;
    color: black;
    padding: 10px 10px;
    border-color: #EEEEFF;
}
.footer-content4 .textbox{
    display: flex;
    justify-content: start;
}
.footer-content4 button{
    background-color: #3734A9;
    padding-left: 17px;
    color: white;
    padding-right: 17px;
    font-size: 13px;
}
.footer-content4 a{
    padding-top: 20px;
    color: #818186;
}
